---
import type { HTMLAttributes, CSSProperty } from 'astro/types'

type Size = 'xs' | 'sm' | 'md' | 'lg' | 'xl' | '2xl' | '3xl' | '4xl' | '5xl'
type Shape = 'circle' | 'square'
type Status = 'online' | 'offline' | 'busy' | 'away' | 'invisible' | null

interface Props extends HTMLAttributes<'div'>  {
  size?: Size
  shape?: Shape
  status?: Status
  src?: string
  alt?: string
  name?: string
}

const {
  size = 'md',
  shape = 'circle',
  status = null,
  src,
  name,
  alt = 'avatar',
  ...rest
} = Astro.props


function getName (name: string) {
  if (name.length > 0) {
    const arrayName = name.split(' ')
    if (arrayName.length > 1) {
      return `${arrayName[0][0]}${arrayName[1][0]}`
    }
    return `${arrayName[0][0]}`
  } else {
    return ''
  }
}
---

<div
  class:list={[
    'astroui-avatar',
    `astroui-avatar-${size}`,
    `astroui-avatar-image-${shape}`,
    `astroui-avatar-image-${status}`
  ]}
  {...rest}
  
>
  <div 
    class="astroui-avatar-content"
    class:list={[
      rest.class
    ]}
    >
    {
      status !== null && (
        <span 
          class="astroui-avatar-status"
          class:list={[
            `astroui-avatar-status-${status}`
          ]}
          >
        </span>
      )
    }
    
    {
      src === undefined
      ? (
      <div class="astroui-avatar-cover">
        <span>
          {getName(name as string)}
        </span>
      </div>
      )
      : (

        <img
          class:list={[
            'astroui-avatar-image',
          ]}
          src={src}
          alt={alt}
          {...rest}
        />
      )
    }
    
  </div>
</div>

<style is:global>
  .astroui-avatar {
    @apply inline-block flex-none;
  }

  .astroui-avatar-image {
    @apply block w-full rounded-full;
  }
  .astroui-avatar-content {
    @apply relative flex items-center justify-center w-full h-full font-medium rounded-full;
  }

  /** Alternative cover */

  .astroui-avatar .astroui-avatar-cover {
    @apply flex items-center justify-center w-full h-full bg-primary text-white rounded-full;
  }

  /** Status  */

  .astroui-avatar .astroui-avatar-status {
    @apply absolute border-2 border-current rounded-full border-white dark:border-gray-800;
  }
  .astroui-avatar .astroui-avatar-status-online {
    @apply bg-green-500;
  }
  .astroui-avatar .astroui-avatar-status-offline {
    @apply bg-gray-500;
  }
  .astroui-avatar .astroui-avatar-status-busy {
    @apply bg-red-500;
  }
  .astroui-avatar .astroui-avatar-status-away {
    @apply bg-yellow-500;
  }
  .astroui-avatar .astroui-avatar-status-invisible {
    @apply bg-gray-300;
  }
  
  /** Sizes */
  .astroui-avatar.astroui-avatar-xs {
    @apply w-6 h-6 text-xs;
  }
  .astroui-avatar.astroui-avatar-xs .astroui-avatar-status {
    @apply w-2 h-2 bottom-[-1px] right-[-1px] border
  }
  .astroui-avatar.astroui-avatar-sm {
    @apply w-7 h-7 text-sm;
  }
  .astroui-avatar.astroui-avatar-sm .astroui-avatar-status {
    @apply w-2.5 h-2.5 bottom-[-1px] right-[-1px] border
  }
  .astroui-avatar.astroui-avatar-md {
    @apply w-8 h-8 text-sm;
  }
  .astroui-avatar.astroui-avatar-md .astroui-avatar-status {
    @apply w-3 h-3 bottom-[-1px] right-[-1px] border-2
  }
  .astroui-avatar.astroui-avatar-lg {
    @apply w-10 h-10 text-base;
  }
  .astroui-avatar.astroui-avatar-lg .astroui-avatar-status {
    @apply w-3.5 h-3.5 bottom-[-1px] right-[-1px] border-2
  }
  .astroui-avatar.astroui-avatar-xl {
    @apply w-12 h-12 text-lg;
  }
  .astroui-avatar.astroui-avatar-xl .astroui-avatar-status {
    @apply w-4 h-4 bottom-[-1px] right-[-1px] border-2
  }
  .astroui-avatar.astroui-avatar-2xl {
    @apply w-14 h-14 text-xl;
  }
  .astroui-avatar.astroui-avatar-2xl .astroui-avatar-status {
    @apply w-4 h-4 bottom-[-1px] right-[1px] border-2
  }
  .astroui-avatar.astroui-avatar-3xl {
    @apply w-16 h-16 text-2xl;
  }
  .astroui-avatar.astroui-avatar-3xl .astroui-avatar-status {
    @apply w-4 h-4 bottom-[-1px] right-[2px] border-2
  }
  .astroui-avatar.astroui-avatar-4xl {
    @apply w-20 h-20 text-3xl;
  }
  .astroui-avatar.astroui-avatar-4xl .astroui-avatar-status {
    @apply w-5 h-5 bottom-[-1px] right-[-1px] border-2
  }
  .astroui-avatar.astroui-avatar-5xl {
    @apply w-24 h-24 text-4xl;
  }
  .astroui-avatar.astroui-avatar-5xl .astroui-avatar-status {
    @apply w-6 h-6 bottom-[-1px] right-[-2px] border-2
  }

</style>