---

interface Props {
  id: string
  placement?: 'top-start' | 'top-center' | 'top-end' | 'center' | 'center-start' | 'center-end' | 'bottom-start' | 'bottom-center' | 'bottom-end'
  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl' | '2xl' | '3xl' | '4xl' | '5xl' | '6xl' | '7xl' | '8xl' | '9xl' | 'full'
  staticBackdrop?: boolean
  initialOpen?: boolean
  scrollBehavior?: 'inside' | 'outside'
  showButtonClose?: boolean
  border?: boolean
}

const sizes = {
  xs: '20rem',
  sm: '24rem',
  md: '32rem',
  lg: '40rem',
  xl: '48rem',
  '2xl': '56rem',
  '3xl': '64rem',
  '4xl': '72rem',
  '5xl': '80rem',
  '6xl': '88rem',
  '7xl': '96rem',
  '8xl': '104rem',
  '9xl': '112rem',
  full: '100%'
}

const {
  id,
  placement = 'top-center',
  size = 'md',
  staticBackdrop = false,
  initialOpen = false,
  scrollBehavior = 'inside',
  showButtonClose = true,
  border = true
} = Astro.props

---

<div
  role='dialog'
  class='astroui-modal fade'
  id={id}
  aria-hidden='true'
  style={{ display: 'none' }}
  class:list={{
    [`astroui-modal-${placement}`]: true,
    [`astroui-modal-${size}`]: true,
    [`astroui-modal-scroll-${scrollBehavior}`]: true,
    'astroui-modal-border': border
  }}
  tabindex='-1'
>
  <div class='astroui-modal-backdrop' tabindex='-1' />

  <article class='astroui-modal-content' aria-labelledby='modal-title' aria-describedby='modal-body'>

    <slot name='content'>

      <header class='astroui-modal-header'>

        <slot name='title'>
          <h2 class='astroui-modal-title'>
            <slot name='title' />
          </h2>
        </slot>

        {showButtonClose && (
          <button type='button' class='astroui-modal-close' data-dismiss='modal' aria-label='Close'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='22'
              height='22'
              viewBox='0 0 24 24'
              fill='none'
              stroke='#000000'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'>
              <line x1='18' y1='6' x2='6' y2='18'></line>
              <line x1='6' y1='6' x2='18' y2='18'></line>
            </svg>
          </button>
        )}
      </header>

      <main class='astroui-modal-body'>
        <slot name='body' />
      </main>

      <footer class='astroui-modal-footer'>
        <slot name='footer' />
      </footer>

    </slot>
  </article>
</div>


<script define:vars={{ id, initialOpen, staticBackdrop }}>

  const trigger = document.querySelectorAll(`[data-modal-toggle="${id}"]`)
  const buttonClose = document.querySelectorAll(`#${id} [data-dismiss="modal"]`)
  const modal = document.querySelectorAll(`#${id}`)
  
  // Static backdrop

  function getStaticClass (modal) {
    modal.classList.add('astroui-modal-static')
    document.body.style.overflow = 'hidden'
    document.body.classList.add('astroui-modal-open')
    setTimeout(() => {
      modal.classList.remove('astroui-modal-static')
    }, 100)
  }

  // Show modal

  function showModal (modal) {
    modal.style.display = 'flex'
    setTimeout(() => {
      modal.classList.add('show')
    }, 100)
    modal.setAttribute('aria-hidden', 'false')
    document.body.style.overflow = 'hidden'
    document.body.classList.add('astroui-modal-open')
  }

  // Remove modal

  function dismissModal (modal) {
    modal.classList.remove('show')
    setTimeout(() => {
      modal.style.display = 'none'
    }, 200)
    modal.setAttribute('aria-hidden', 'true')
    document.body.style.overflow = ''
    document.body.classList.remove('astroui-modal-open')
  }

  //
  // Function on dismissing modal by button close

  const getDismiss = (buttonClose, modal) => {
    buttonClose.addEventListener('click', () => {
      dismissModal(modal)
    })
  }

  //
  // Close modal by all buttons close

  modal.forEach((modal) => {
    buttonClose.forEach((buttonClose) => {
      getDismiss(buttonClose, modal)
    })
  })
    
  
  // Event listeners
  
  trigger.forEach((trigger) => {
    const modal = document.querySelector(`#${trigger.dataset.modalToggle}`)
    const backdrop = document.querySelector(`#${trigger.dataset.modalToggle} .astroui-modal-backdrop`)

    // Initial open modal
  
    if (initialOpen) {
      showModal(modal)
    }
    
    // Open modal

    trigger.addEventListener('click', () => {
      showModal(modal)
    })

    // Close modal with backdrop

    modal.addEventListener('click', (event) => {
      if (staticBackdrop && event.target === backdrop) {
        getStaticClass(modal)
      } else if (event.target === backdrop) {
        dismissModal(modal)
      }
    })
    
    // Close modal with press escape

    document.addEventListener('keydown', (event) => {
      if (staticBackdrop ) {
        if (event.key === 'Escape' && modal.classList.contains('show')) {
          getStaticClass(modal)
        }
      } else if (event.key === 'Escape' && modal.classList.contains('show')) {
        dismissModal(modal)
      }
    })

  })


</script>

<style
  is:global
  define:vars={{
    size: sizes[size]
  }}
>

  body.modal-open {
    overflow: hidden;
  }

  @media (min-width: 576px) {
    .astroui-modal-content {
      max-width: var(--size);
    }
  }

  /** Positions */

  .astroui-modal.astroui-modal-top-center {
    align-items: center;
    justify-content: flex-start;
  }
  .astroui-modal.astroui-modal-top-start {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .astroui-modal.astroui-modal-top-end {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .astroui-modal.astroui-modal-center {
    align-items: center;
    justify-content: center;
  }
  .astroui-modal.astroui-modal-center-start {
    align-items: flex-start;
    justify-content: center;
  }
  .astroui-modal.astroui-modal-center-end {
    align-items: flex-end;
    justify-content: center;
  }
  .astroui-modal.astroui-modal-bottom-center {
    align-items: center;
    justify-content: flex-end;
  }
  .astroui-modal.astroui-modal-bottom-start {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .astroui-modal.astroui-modal-bottom-end {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .astroui-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  .astroui-modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .astroui-modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: 100%;
    margin: 0;
    border-radius: .5rem;
    transform: scale(1.1);
    transition: visibility .25s ease-out, opacity .25s ease-out, transform .25s ease-out;
  }
  @media (min-width: 576px) {
    .astroui-modal-content {
      margin: 4rem 0;
    }
  }
  .astroui-modal.fade .astroui-modal-content {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
  }
  .astroui-modal.show .astroui-modal-content{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .astroui-modal.astroui-modal-static .astroui-modal-content {
    transform: scale(1.02);
  }

  /** Modal header */

  .astroui-modal-header{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }
  .astroui-modal-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    max-width: calc(100% - 3rem);
  }

  /** Modal close button */

  .astroui-modal-close {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color .25s ease-out;
  }
  .astroui-modal-close:hover {
    background-color: #e7e8ea;
  }

  /** Modal body */

  .astroui-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }

  /** Modal footer */

  .astroui-modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  /** Overflow scroll */

  .astroui-modal.astroui-modal-scroll-outside {
    @apply overflow-y-auto;
  }
  .astroui-modal.astroui-modal-scroll-outside .astroui-modal-content{
    @apply max-h-[auto] h-auto;
  }
  .astroui-modal.astroui-modal-scroll-inside {
    @apply overflow-hidden;
  }
  .astroui-modal.astroui-modal-scroll-inside .astroui-modal-content {
    @apply overflow-hidden;
  }
  @media (min-width: 576px) {
    .astroui-modal.astroui-modal-scroll-inside .astroui-modal-content{
      max-height: 100%;
      max-height: calc(100% - 7.5rem);
    }
  }
  .astroui-modal.astroui-modal-scroll-inside .astroui-modal-body{
    @apply flex-1 overflow-auto;
  }

  /** Border */

  .astroui-modal.astroui-modal-border .astroui-modal-content  {
    @apply divide-y divide-gray-200;
  }

  /** Dark theme */

  .dark .astroui-modal {
    @apply bg-white/20;
  }
  .dark .astroui-modal .astroui-modal-content {
    @apply bg-white text-black;
  }
  
</style>